<h1> <%= @user.full_name %> </h1>
<hr />
<hr />
<%= link_to 'Appointments', "/#{@user.id}/index_appointments", class: "ui primary button inverted" %>
<br />
<br />
<br />
<%= link_to 'Delete User', @user, method: :delete, class: "ui red button inverted" %>
 